@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');
/* Initial Settings */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    /* color: #1a1a1a; */
}

/* Variables */

:root {
    --darkTileColor: #b68b3b;
    --lightTileColor: #ddc071;
    --tileHoverBorder: rgba(0, 0, 0, 1);

    --gradientBottom: rgba(9, 20, 34, 1);
    --gradientTop: rgba(44, 52, 63, 1);

    /* --scrollbar: rgb(223, 134, 33); */
    --scrollbarThumb: #975a28;
    --scrollbarThumbHover: #72441f;

    --border: rgb(223,134,33);

    /* --infoPageBorder: rgb(223, 134, 33); */
    --infoPage: #b1b6bd;
    --infoPageButton: #1a1a1a;
    --infoPageText: #1a1a1a;

    --buttonHover: rgb(255, 194, 137);

    --messageBoard: rgba(84, 95, 99, 0.836);
    --message: rgb(189, 189, 189);
    --messageBoardButton: #1a1a1a;

    --underAttack: rgb(255, 75, 75);
    --highlightHueRotation: -40deg;
    --specialHighlight: rgb(255, 238, 83);

    --stateButtonOutside: rgba(50, 73, 99, 0.562);
    --stateButtonInside: rgb(255, 255, 255);
    /* --stateButtonHover: rgb(240, 105, 52); */

    --uiHover: rgb(230, 90, 30);

    --pawnChangePage: rgba(255, 255, 255, 0.356);
    --pawnChange: rgb(0, 0, 0);
    /* --pieceChangeHover: rgb(216, 83, 30); */
    --fenGuideText: #313131;
    --fenGuideBackground: rgba(255, 255, 255, 0.452);

}

body::-webkit-scrollbar {
    width: 17px;
    height: 17px;
    background-color: var(--border);
}

body::-webkit-scrollbar-track {
    box-shadow: inset rgba(0, 0, 0, .4) 0px 0px 9px 0px;
}

body::-webkit-scrollbar-thumb {
    border: 3px solid transparent;
    background-clip: content-box;
    background-color: var(--scrollbarThumb);
}

body::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbarThumbHover);
}

body {
    overflow-y: visible;
    /*background: #2c343f;*/
    background: linear-gradient(360deg, var(--gradientBottom) 0%, var(--gradientTop) 50%);
    background-attachment: fixed;
}

/* TILES */
.darkTile {
    background-color: var(--darkTileColor);
}
.lightTile {
    background-color: var(--lightTileColor);
}

/* INFO PAGE */
#infoPage {
    z-index: 14;
    position: fixed;
    text-align: left;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: visible;
    color: var(--infoPageText);
    height: 100vh;
    padding: 20px;
    padding-bottom: 0px;
    line-height: 2rem;
    left: -373px;
    top: 0px;
    width: 400px;
    max-width: 100%;
    border-width: 0px 27px 0px 0;
    border-color: var(--border);
    border-style: solid;
    background-color: var(--infoPage);
    box-shadow: rgba(0, 0, 0, 1) 0px 0px 7px 2px;
}

/* HIDE SCROLLBAR */
#infoPage::-webkit-scrollbar {
    width: 0;
}

/* APPLIES TO INFOPAGE AND INFOPAGE BUTTON*/
.leftTransition {
    transition: left .5s;
    transition-timing-function: ease-in-out;
}

/* BUTTON TO OPEN AND CLOSE INFOPAGE */
#open-close {
    position: fixed;
    top: 30px;
    left: -8px;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    font-size: 1.25em;
    user-select: none;
    color:var(--infoPageButton);
}

/* MAIN HEADERS IN INFOPAGE */
.infoPageHeader {
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 30px;
}

/* HORIZONTAL LINES IN INFO PAGE */
hr {
    border: 1px solid rgba(0, 0, 0, 0.15);
    margin-top: 30px;
    margin-bottom: 30px;
}

.chatHR {
    margin: 10px 0px 10px 0px;
}

/* BUTTONS IN GAME SETTINGS */
#customButton {
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 250px;
}

/* ROW AND COLUMN BUTTONS */
.classBorderedInput {
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, .5);
    padding: 5px 10px 5px 10px;
    border-radius: 3px;
}

/* FEN AREA */
#fenArea {
    margin-bottom: 10px;
    font-family: 'Roboto Mono',monospace;
    font-size: .75rem;
    resize: vertical;
    max-width: 100%;
    height: 50px;
    padding: 5px 10px 5px 10px;
    border: 1px solid rgba(0, 0, 0, .5);
    border-radius: 3px;
}

/* FEN "UPDATE" BUTTON */
#generateButton {
    line-height: 1rem;
    align-self: flex-end;
    width: 100px;
    height: 25px;
    background-color: rgb(231, 231, 231);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3px;
    transition: background-color .1s;
}
#generateButton:hover {
    background-color: var(--buttonHover);
}

/* "COLOR" BUTTON */
#toggleColors {
    line-height: 1rem;
    height: 25px;
    background-color: rgb(231, 231, 231);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3px;
    transition: background-color .1s;
}
#toggleColors:hover {
    background-color: var(--buttonHover);
}

/* MESSAGEBOARD */
#messageBoard {
    padding: 0px 0px 0 20px;
    z-index: 11;
    width: 300px;
    max-width: 50%;
    position: fixed;
    background: var(--messageBoard);
    right: 5vw;
    top: 60px;
    max-height: 60vh;
    overflow-y: scroll;
    border-radius: 10px;
}
#messageBoard::-webkit-scrollbar {
    background-color: transparent;
}

/* INDIVIDUAL MESSAGE IN MESSAGEBOARD */
.message {
    line-height: .8rem;
    font-size: .8rem;
    font-family: 'Roboto Mono', monospace;
    user-select: none;
    margin-top: 15px;
    position: relative;
    color: var(--message);
}

/* BUTTON TO OPEN AND CLOSE THE MESSAGEBOARD */
#messageBoard-open-close {
    text-align: center;
    z-index: 12;
    position: fixed;
    right: 5vw;
    top: 30px;
    color: var(--messageBoardButton);
}

/* CHESSBOARD TILE */
.chessBoardTile:hover {
    z-index: 10;
    /* Makes it so box shodows stay on top */
    box-shadow: var(--tileHoverBorder) 0px 0px 0px 2px;
}

/* A TILE HIGHLIGHTED BECAUSE OF MOVE GENERATION */
.highTile {
    filter: hue-rotate(var(--highlightHueRotation));
}

/* A TILE WHERE A PIECE IS UNDER ATTACK */
.underAttack {
    z-index: 9;
    background-color: var(--underAttack);
    filter: none;
}

/* NOT CURRENTLY DOING ANYTHING */
.specialHighlight {
    z-index: 10;
    background-color:var(--specialHighlight);
    filter: none;
}

/* SLIDER FOR TILE SIZE */
#tileSizeSlider {
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    -webkit-appearance: none;
    width: 85%;
    margin-bottom: 20px;
    background-color: transparent;
}
#tileSizeSlider::-webkit-slider-runnable-track {
    border-radius: 500px;
    width: 100%;
    height: 6px;
    background: rgba(0, 0, 0, 0.376);
}
#tileSizeSlider::-webkit-slider-thumb {
    border: 1px solid #000000a9;
    height: 18px;
    width: 18px;
    margin-top: -6px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    -webkit-appearance: none;
}
#tileSizeSlider::-webkit-slider-thumb:hover {
    background: rgb(199, 199, 199);
}

/* CONTAINER FOR UNDO AND REDO BUTTONS */
#undo-redo {
    z-index: 11;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    bottom: 2px;
    width: 100%;
    text-align: center;
}

/* UNDO AND REDO BUTTON */
.stateButton {
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    padding: 5px;
    background-color: var(--stateButtonOutside);
    border-radius: 50%;
    color: var(--stateButtonInside);
    font-size: 1.7rem;
    transition: color .1s;
}
.stateButton:hover {
    color: var(--uiHover);
}

/* OVERLAYS CHESS BOARD WHEN PAWN CHANGE OCCURS */
#pawnChangePage {
    display: none;
    position: fixed;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    width: 100%;
    height: 100%;

    background-color: var(--pawnChangePage);
}

/* CONTAINING BOX FOR PIECE CHANGE ELEMENTS */
#pieceSelector {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
}
/* QUEEN, ROOK, KNIGHT, OR BISHOP THAT CAN BE CHOSEN FOR UPGRADE */
.pieceChangeElement {
    margin: 30px;
    font-size: 7rem;
    color: var(--pieceChange);
    transition: color .1s;
}
.pieceChangeElement:hover {
    color: var(--uiHover);
}

/* FEN INSTRUCTIONS IN INFOPAGE */
#fenGuide {
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--fenGuideText);
    padding: 5px 20px 5px 20px;
    list-style: none;
    background-color: var(--fenGuideBackground);
    border-radius: 10px;
}
#fenGuide > h3 {
    text-align: center;
    margin: 0;
}
#fenGuide > hr {
    margin: 0;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
#fenGuide > ul {
    list-style: none;
}
#fenGuide > ul > li {
    font-size: 1rem;
    font-family: 'Roboto Mono', monospace;
}
#fenGuide > p {
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
}
#copyright {
    background-color: rgba(0, 0, 0, 0.205);
    color: rgba(255, 255, 255, 0.651);
    width: 100%;
    position: relative;
    bottom: 0px;
    text-align: center;
    font-size: 12px;
    border-radius: 10px 10px 0px 0px;
}
#invalidFenText {
    margin-left: 40px;
}
a, a:active {
    font-family: "Roboto Mono", monospace;
    color: var(--infoPageText);
}
a:hover {
    color:var(--border);
}